<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods">
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      
      <class name="keywordTest.ParallelTest"/>
     
    </classes>
    
     <!-- classes>
      <class name="keywordTest.PriorityTest"/>
    </classes-->
    
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
